# ── Variables de entorno ──────────────────────────────────────────────────────
.env
.env.*
!.env.example

# ── Node.js ───────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*

# ── Go ────────────────────────────────────────────────────────────────────────
api-go/api-go

# ── IDEs ──────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp

# ── macOS ─────────────────────────────────────────────────────────────────────
.DS_Store
